<!-- /snippets/nav-drawer.liquid -->

<div id="NavDrawer">
  <!-- nav drawer goes here -->
  {% if settings.ajax_cart_method == "drawer" %}
  <div id="CartDrawer">
    <!-- cart drawer goes here -->
  </div>
  {% endif %}
</div>
